In [10]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('saude_do_sono_estilo_vida.csv')
df.head()

,ID,Gênero,Idade,Ocupação,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria BMI,Pressão sanguíneaaaa,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
3,4,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono
4,5,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono

In [3]:
df.shape

(373, 13)

In [4]:
df.info() #Verificando os tipos dos dados e se há dados nulos. Conclusão: não há dados nulos!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         373 non-null    int64
 1   Gênero                     373 non-null    object
 2   Idade                      373 non-null    int64
 3   Ocupação                   373 non-null    object
 4   Duração do sono            373 non-null    float64
 5   Qualidade do sono          373 non-null    int64
 6   Nível de atividade física  373 non-null    int64
 7   Nível de estresse          373 non-null    int64
 8   Categoria BMI              373 non-null    object
 9   Pressão sanguíneaaaa       373 non-null    object
 10  Frequência cardíaca        373 non-null    int64
 11  Passos diários             373 non-null    int64
 12  Distúrbio do sono          373 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.0+ KB

## Passo 1
Ao visualizar a base você percebeu que seria melhor alterar o nome de algumas colunas. Mude o ‘ID’ para ‘Identificador’, corrija o nome da coluna que indica a pressão sanguínea, mude a coluna ‘Ocupação’ para ‘Profissão’, a coluna ‘Categoria BMI’ está em parte em inglês, substitua para ‘Categoria IMC’.

In [5]:
colunas_renomeadas = {'ID': 'Identificador', 'Ocupação':'Profissão', 'Categoria BMI':'Categoria IMC', 'Pressão sanguíneaaaa':'Pressão sanguínea'}

In [6]:
df.rename(columns=colunas_renomeadas, inplace=True)

In [7]:
df.head(2)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma

## Passo 2
Qual é a média, a moda e a mediana de horas de sono para cada uma das profissões?

In [8]:
#Calculando a média de horas de sono de cada profissão
df.groupby('Profissão')['Duração do sono'].mean()

Profissão
Advogado(a)                7.410638
Cientista                  6.000000
Contador(a)                7.113514
Enfermeiro(a)              7.048611
Eng. de Software           6.750000
Engenheiro(a)              7.987302
Gerente                    6.900000
Médico(a)                  6.970423
Pessoa Vendendora          6.403125
Professor(a)               6.690000
Representante de Vendas    5.900000
Name: Duração do sono, dtype: float64

In [9]:
#Calculando a moda
df.groupby('Profissão')['Duração do sono'].agg(pd.Series.mode)

Profissão
Advogado(a)                       7.2
Cientista                  [5.8, 6.2]
Contador(a)                       7.2
Enfermeiro(a)                     6.1
Eng. de Software                  7.5
Engenheiro(a)                     8.4
Gerente                           6.9
Médico(a)                         6.0
Pessoa Vendendora                 6.5
Professor(a)                      6.6
Representante de Vendas           5.9
Name: Duração do sono, dtype: object

In [11]:
#Calculando a mediana
df.groupby('Profissão')['Duração do sono'].agg(np.median)

Profissão
Advogado(a)                7.3
Cientista                  6.0
Contador(a)                7.2
Enfermeiro(a)              6.5
Eng. de Software           6.8
Engenheiro(a)              8.3
Gerente                    6.9
Médico(a)                  7.6
Pessoa Vendendora          6.4
Professor(a)               6.6
Representante de Vendas    5.9
Name: Duração do sono, dtype: float64

In [12]:
#Outro jeito de calcular a mediana
#A mediana corresponde aos valores na coluna "50%"
df.groupby('Profissão')['Duração do sono'].describe()

                         count      mean       std  min   25%  50%    75%  max
Profissão
Advogado(a)               47.0  7.410638  0.270454  6.9  7.20  7.3  7.700  7.9
Cientista                  4.0  6.000000  0.230940  5.8  5.80  6.0  6.200  6.2
Contador(a)               37.0  7.113514  0.312838  6.5  7.10  7.2  7.200  8.0
Enfermeiro(a)             72.0  7.048611  0.989522  5.9  6.10  6.5  8.100  8.2
Eng. de Software           4.0  6.750000  0.869866  5.9  6.05  6.8  7.500  7.5
Engenheiro(a)             63.0  7.987302  0.511005  6.5  7.70  8.3  8.400  8.5
Gerente                    1.0  6.900000       NaN  6.9  6.90  6.9  6.900  6.9
Médico(a)                 71.0  6.970423  0.863613  6.0  6.05  7.6  7.700  8.2
Pessoa Vendendora         32.0  6.403125  0.089747  6.3  6.30  6.4  6.500  6.5
Professor(a)              40.0  6.690000  0.226229  6.3  6.60  6.6  6.725  7.2
Representante de Vendas    2.0  5.900000  0.000000  5.9  5.90  5.9  5.900  5.9

## Passo 3
Das pessoas que atuam com engenharia de software qual a
porcentagem de obesos?

*Resposta*: 25%

In [13]:
df['Categoria IMC'].unique()

array(['Sobrepeso', 'Normal', 'Obesidade', 'Peso normal'], dtype=object)

In [14]:
df['Profissão'].unique()

array(['Eng. de Software', 'Médico(a)', 'Representante de Vendas',
       'Professor(a)', 'Enfermeiro(a)', 'Engenheiro(a)', 'Contador(a)',
       'Cientista', 'Advogado(a)', 'Pessoa Vendendora', 'Gerente'],
      dtype=object)

In [15]:
fatiamento1 = df[(df['Profissão'] == 'Eng. de Software') & (df['Categoria IMC'] == 'Obesidade')]
fatiamento1

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
5,6,Homem,28,Eng. de Software,5.9,4,30,8,Obesidade,140/90,85,3000,Insônia

In [16]:
df_filtrado = df[df['Profissão'] == 'Eng. de Software']
df_filtrado

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
5,6,Homem,28,Eng. de Software,5.9,4,30,8,Obesidade,140/90,85,3000,Insônia
84,85,Homem,35,Eng. de Software,7.5,8,60,5,Peso normal,120/80,70,8000,Nenhuma
92,93,Homem,35,Eng. de Software,7.5,8,60,5,Peso normal,120/80,70,8000,Nenhuma

In [17]:
df_filtrado['Categoria IMC'].value_counts(normalize=True)*100

Categoria IMC
Peso normal    50.0
Sobrepeso      25.0
Obesidade      25.0
Name: proportion, dtype: float64

## Passo 4
De acordo com os dados, advogar ou ser representante de vendas faz
você dormir menos? (Use o método ‘isin’, considere a média)

**Resposta**: Ser representante de vendas faz a pessoa dormir menos.

In [18]:
df_filtrado_advogados = df[df['Profissão'].isin(['Advogado(a)'])]

In [19]:
df_filtrado_advogados['Duração do sono'].mean()

7.4106382978723415

In [20]:
df_filtrado_representantes_vendas = df[df['Profissão'].isin(['Representante de Vendas'])]

In [21]:
df_filtrado_representantes_vendas['Duração do sono'].mean()

5.9

## Passo 5
Entre quem fez enfermagem e quem fez medicina, quem tem menos
horas de sono? (Use o método ‘isin’, considere a média)

**Resposta**: Os médicos têm menos horas de sono.

In [22]:
df_filtrado = df[df['Profissão'].isin(['Médico(a)', 'Enfermeiro(a)'])]
df_filtrado

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
7,8,Homem,29,Médico(a),7.8,7,75,6,Normal,120/80,70,8000,Nenhuma
8,9,Homem,29,Médico(a),7.8,7,75,6,Normal,120/80,70,8000,Nenhuma
9,10,Homem,29,Médico(a),7.8,7,75,6,Normal,120/80,70,8000,Nenhuma
...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,369,Mulher,59,Enfermeiro(a),8.1,9,75,3,Sobrepeso,140/95,68,7000,Apneia do sono
369,370,Mulher,59,Enfermeiro(a),8.1,9,75,3,Sobrepeso,140/95,68,7000,Apneia do sono
370,371,Mulher,59,Enfermeiro(a),8.0,9,75,3,Sobrepeso,140/95,68,7000,Apneia do sono
371,372,Mulher,59,Enfermeiro(a),8.1,9,75,3,Sobrepeso,140/95,68,7000,Apneia do sono
372,373,Mulher,59,Enfermeiro(a),8.1,9,75,3,Sobrepeso,140/95,68,7000,Apneia do sono

In [23]:
df_filtrado.groupby('Profissão')['Duração do sono'].mean()

Profissão
Enfermeiro(a)    7.048611
Médico(a)        6.970423
Name: Duração do sono, dtype: float64

## Passo 6
Faça um subconjunto com as colunas Identificador, Gênero, Idade,
Pressão sanguínea e Frequência cardíaca.

In [24]:
subconjunto = df[['Identificador', 'Gênero', 'Idade', 'Pressão sanguínea', 'Frequência cardíaca']]
subconjunto

     Identificador  Gênero  Idade Pressão sanguínea  Frequência cardíaca
0                1   Homem     27            126/83                   77
1                2   Homem     28            125/80                   75
2                3   Homem     28            125/80                   75
3                4   Homem     28            140/90                   85
4                5   Homem     28            140/90                   85
..             ...     ...    ...               ...                  ...
368            369  Mulher     59            140/95                   68
369            370  Mulher     59            140/95                   68
370            371  Mulher     59            140/95                   68
371            372  Mulher     59            140/95                   68
372            373  Mulher     59            140/95                   68

[373 rows x 5 columns]

## Passo 7
Descubra qual é a profissão menos frequente no conjunto. (Use
value_counts)

**Resposta**: A profissão menos frequente é a de gerente.

In [25]:
df['Profissão'].value_counts()

Profissão
Enfermeiro(a)              72
Médico(a)                  71
Engenheiro(a)              63
Advogado(a)                47
Professor(a)               40
Contador(a)                37
Pessoa Vendendora          32
Eng. de Software            4
Cientista                   4
Representante de Vendas     2
Gerente                     1
Name: count, dtype: int64

## Passo 8
Quem tem maior pressão sanguínea média, homens ou mulheres?
(Considere a média)

**Resposta**: As mulheres tem a maior média de pressão sanguínea.

In [26]:
df_homens = df[df['Gênero'] == 'Homem']
df_homens.head(3)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma

In [28]:
df_homens_filtrado = df_homens['Pressão sanguínea'].str.split('/', expand=True)
df_homens_filtrado.head

<bound method NDFrame.head of        0   1
0    126  83
1    125  80
2    125  80
3    140  90
4    140  90
..   ...  ..
249  130  85
264  142  92
266  142  92
276  139  91
277  139  91

[189 rows x 2 columns]>

In [29]:
df_homens_filtrado.columns = ['Sistólica', 'Diastólica']

In [30]:
df_homens_filtrado

    Sistólica Diastólica
0         126         83
1         125         80
2         125         80
3         140         90
4         140         90
..        ...        ...
249       130         85
264       142         92
266       142         92
276       139         91
277       139         91

[189 rows x 2 columns]

In [31]:
df_homens_filtrado['Sistólica'] = df_homens_filtrado['Sistólica'].astype(np.int64)
df_homens_filtrado['Diastólica'] = df_homens_filtrado['Diastólica'].astype(np.int64)
#Convertendo os tipos de string para int

In [32]:
df_homens_filtrado.info()
#Verificando se a conversão foi feita

<class 'pandas.core.frame.DataFrame'>
Index: 189 entries, 0 to 277
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sistólica   189 non-null    int64
 1   Diastólica  189 non-null    int64
dtypes: int64(2)
memory usage: 4.4 KB

In [33]:
#Média da pressão sanguínea dos homens
df_homens_filtrado[['Sistólica', 'Diastólica']].mean()

Sistólica     126.941799
Diastólica     83.015873
dtype: float64

In [34]:
#Criando uma df só com os dados das mulheres
df_mulheres = df[df['Gênero'] == 'Mulher']
df_mulheres.head(3)

,Identificador,Gênero,Idade,Profissão,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria IMC,Pressão sanguínea,Frequência cardíaca,Passos diários,Distúrbio do sono
16,17,Mulher,29,Enfermeiro(a),6.5,5,40,7,Peso normal,132/87,80,4000,Apneia do sono
18,19,Mulher,29,Enfermeiro(a),6.5,5,40,7,Peso normal,132/87,80,4000,Insônia
30,31,Mulher,30,Enfermeiro(a),6.4,5,35,7,Peso normal,130/86,78,4100,Apneia do sono

In [35]:
df_mulheres_filtrado = df_mulheres['Pressão sanguínea'].str.split('/', expand=True)

In [36]:
df_mulheres_filtrado.columns = ['Sistólica', 'Diastólica']

In [37]:
#Utilizando a biblioteca numpy para converter o tipo dos dados para int64
df_mulheres_filtrado[['Sistólica', 'Diastólica']] = df_mulheres_filtrado[['Sistólica', 'Diastólica']].astype(np.int64)

In [38]:
df_mulheres_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 184 entries, 16 to 372
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sistólica   184 non-null    int64
 1   Diastólica  184 non-null    int64
dtypes: int64(2)
memory usage: 4.3 KB

In [39]:
#Cálculo da média da pressão sanguínea
df_mulheres_filtrado[['Sistólica', 'Diastólica']].mean()

Sistólica     130.146739
Diastólica     86.271739
dtype: float64

## Passo 9
É predominante entre os participantes dormir 8 horas por dia
(considere usar Moda como medida)?

**Resposta**: Não é predominante dormir 8 horas por dia, e sim 7,2 horas por dia.

In [40]:
df['Duração do sono'].agg(pd.Series.mode)

0    7.2
Name: Duração do sono, dtype: float64

In [41]:
#Outra forma de chegar a esse resultado
df['Duração do sono'].value_counts(normalize=True) * 100

Duração do sono
7.2    9.651475
6.0    8.310992
7.8    7.506702
6.5    6.970509
6.1    6.702413
7.7    6.434316
6.6    5.361930
7.1    5.093834
7.3    3.753351
8.4    3.753351
8.1    3.753351
6.3    3.485255
8.5    3.485255
8.0    3.485255
6.2    3.217158
8.2    2.949062
7.6    2.680965
6.4    2.412869
7.9    1.876676
7.4    1.340483
6.7    1.340483
7.5    1.340483
6.8    1.340483
8.3    1.340483
5.9    1.072386
6.9    0.804290
5.8    0.536193
Name: proportion, dtype: float64

## Passo 10
Pessoas com frequências cardíacas acima de 70 dão mais passos que
pessoas com frequência cardíaca menor ou igual a 70? (Use a média)

**Resposta**: Pessoas com frequênca cardíaca menor ou igual a 70 dão mais passos por dia.

In [42]:
#Calculando a média de passos de pessoas com frequência cardíaca maior que 70
df[df['Frequência cardíaca'] > 70]['Passos diários'].mean()

6472.932330827068

In [43]:
#Calculando a média de passos de pessoas com frequência cardíaca menor ou igual a 70
df[df['Frequência cardíaca'] <= 70]['Passos diários'].mean()

7006.666666666667